.main {
    display: flex;
    min-width: 240px;
    padding: 12px;
    gap: 6px;
    border-radius: 10px;
    border: 1px solid #D8E0E8;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .title {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .icon {
    margin-right: 12px;
    background: #66B1FE;
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    }

    .add-node-icon {
        position: absolute;
        border-radius: 100%;
        right: 6px;
        padding: 5px;
        border: 1px solid #e0dfe2;
        cursor: pointer;
    }
}

