@import "../../../styles/variables.scss";

.drawer {
 .ant-drawer-header {
    padding: 24px !important;
  }
}

.ant-drawer-content{
    border-radius: 12px !important;
}

.ant-drawer-content-wrapper {
    width: 600px !important;
    border-radius: 12px !important;
  }

.ant-drawer-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 30px;
    text-align: left;
    color: #0E263F;
  }

.ant-drawer-body{
  padding: 0 24px !important;
}

.drawer-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.ant-tabs-tab.ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $color-primary !important; 
    }
   
  }

.ant-tabs-ink-bar {
    background-color: $color-primary !important; 
  }

.ant-drawer-footer {
    padding: 16px 0 !important;
    background-color: #F7F8FA;
}