// Text.scss
@import "../../../../styles/variables.scss";

.custom-input {
    width: 100%;
    gap: 4px;
    opacity: 1;
    .ant-input {
        border: 0.5px solid #eeeeee3d; 
        color: $color-primary;
        margin-left: 6px;
        &::placeholder {
            color: $color-tertiary;
        }
    }
}
