.custom-select-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 34px; 
    min-width: 83px;
}

.custom-select-label {
    position: absolute;
    top: -13px; 
    left: 10px;
    background-color: white; 
    padding: 0 4px;
    color: #000000DE; 
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    z-index: 1; 
}

.custom-select .ant-select-selector {
    min-height: 34px !important; 
    padding: 0 10px; 
    font-size: 16px;
    border-radius: 32px;
    display: flex;
}

.custom-select .ant-select-selection-item {
        font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select .ant-select-selection-placeholder {
    font-size: 16px;
    color: #888; 
}

.ant-select.css-dev-only-do-not-override-14i19y2 {
    height: 40px;
}
