@import '../../../styles/variables.scss';
.custom-select-container {
  position: relative;
  min-height: 32px;

  .select-label {
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .custom-select {
    border: 1px solid #D8E0E8;
    border-radius: 32px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: border 0.3s ease;

    .dropdown-arrow {
      margin-left: 8px;
    }

    .badge {
        margin: 0 0 2px 3px;
    }
    .ant-badge-count {
        background-color: $color-primary;
        color: white;
    }

    &:hover {
      background-color: #F7F8FA;
    }

    &:active {
      background-color: #E8EDF2;
    }

    &.open,
    &:focus {
      border-color: #D8E0E8;
      box-shadow: 0 0 0 1px rgba(216, 224, 232, 0.5);
    }

    .select-value {
      flex-grow: 1;
      font-size: 14px;
      color: $color-primary;
    }

    .select-options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      border: 1px solid #D8E0E8;
      border-radius: 8px;
      max-height: 150px;
      overflow-y: auto;
      z-index: 1000;
      list-style: none;
      padding: 0;
      margin: 4px 0 0 0;

      .select-option {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #F7F8FA;
        }

        &:active {
          background-color: #E8EDF2;
        }

        &.selected {
          background-color: #E6F7FF;
        }
      }
    }
  }
}
