.ant-tabs, 
.ant-tabs-content-holder, 
.ant-tabs-content, 
.ant-tabs-tabpane {
  height: 100%; 
}

.ant-tabs-nav{
  margin: 0 24px !important;
}
.run-workflow-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 10px;

  .form-field {
  padding-left: 24px;
  padding-right: 24px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px;

    .title {
      font-weight: 700;
    }
  }

  .field {
    .field-label {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 4px;
    }

    .input {
      width: 550px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .checkbox {
    margin-top: 8px;
  }

  .schedule {
    margin-top: 20px;

    .schedule-section {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .select-group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
    }
  }
  .drawer-footer {
    display: flex;
    justify-content: flex-end;
  }
}
.dot {
  &::before {
    content: "\2022";
    color: red;
    margin-right: 2px;
    border-radius: 100%;
  }
}
.selectors {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  margin-top: 8px;
}


.drawer-footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  background-color: #F7F8FA;
  gap: 8px;
  z-index: 0;
  border: 1px solid #D8E0E8;
}

.json {
  padding-left: 24px;
  padding-right: 24px;
}