.workflow-list-container {
  margin: 16px;
}

.workflow-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.workflow-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bar {
    width: 100px;
    height: 50px;
}