body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  margin: 0;
}

ul {
    margin: 0; /* Removes margin */
    padding-inline-start: 0; /* Removes default padding */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes flashGreen {
  from {
    background-color: white;
  }
  to {
    background-color: green;
  }
}
